
/*============================
    Estilos para EventLIVE
==============================*/
.style-margin-buttom {
    margin-bottom: 7rem;
}
.style-color-icon {
    color: #a133b4;
}
.style-color-button {
    background-color: #9b27b0 !important;
    border-color: #9b27b0 !important;
}
.style-text-color {
    color: #828282;
}
.style-color-title {
    color: #6b6b6b;
}
.menu-tex-icon-nav-bar li span{
    font-size: 0.64rem !important;
}



/* Estilos para movil page videoCall */
@media (max-width: 767.98px) { 
    .agora-video-local {
        width: 15vh;
        height: 15vh;
    }
}